[Unit]
Description=Byncoin daemon serivce
After=network.target

[Service]
Type=simple
User=byncoin
ExecStart=/opt/byncoin/byncoind

[Install]
WantedBy=multi-user.target
